@import "tailwindcss";

/* New Way for applying css config */

/* Dark Acedemia Aesthetic */
@theme {
  --color-background: #261F1C;      /* Rich Espresso */
  --color-surface: #40322C;         /* Worn Leather */
  /* --color-accent: #C5A15A;          Antique Gold */
  --color-accent: #ffc554;          /* NEW Antique Gold */
   --color-accent-darker: #B38F49;
  --color-text-primary: #EAE0D5;   /* Aged Parchment */
  --color-text-secondary: #A69888;  /* Muted Tan */
 /* --font-sans: 'Merriweather', serif; */
  --font-sans: Inter, sans-serif;
  --font-mono: "Fira Code", monospace;
   
}

/* This is NIGHT theme. When the '.night' class is active, these variables override the default ones. */
.night {
  --color-background: #0d0d0d;
  --color-surface: #1a1a1a;
  --color-accent: #00ff7f;
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #888888;
}

body {
  /* This makes the body's background color and text color theme-aware */
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

/* For Webkit browsers like Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);  /*  main background color */
}

::-webkit-scrollbar-thumb {

  background-color: var(--color-surface); /*  warm brown surface color */
  border-radius: 20px;
  border: 2px solid var(--color-background);  /* Creates a nice padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent); /*  burnt orange-red accent color */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-background); /* thumb color, track color */
}

/* this for a smoother theme transition */
* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}